section.about{
    padding: 64px 0;
    .header-title{
        margin-bottom: 64px;
        .title{
            font-size: 56px;
        }
        .subtitle{
            font-size: 40px;
        }
    }
    .list-activities{
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 0 32px;
        margin: 0;
        .activity-item{
            width: calc(100% / 3 - 16px);
            text-align: center;
            img{
                max-width: 100%;
                object-fit: contain;
                object-position: center;
            }
            .title{
                font-size: 30px;
                margin-top: 28px;
            }
        }
    }
    .description{
        font-size: 28px;
        font-weight: 400;
        margin-top: 64px;
        margin-bottom: 0;
    }
}