section.benefits{
    padding: 32px 0;
    .header-title{
        font-size: 48px;
        margin-bottom: 64px;
        line-height: 80px;
    }
    .benifits-wrapper{
        display: flex;
        max-width: 1300px;
        margin: auto;
        flex-wrap: wrap;
        justify-content: space-between;
        .benifit-wrapper {
            display: flex;
            flex-direction: column;
            text-align: right;
            width: calc(100% / 4 - 16px);
            padding: 0px 16px 32px;
            .image-panel {
                width: 123px;
                height: 123px;
                background: $mainColor;
                border-radius: 50%;
                margin-bottom: 22px;
                position: relative;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .title{
                font-size: 26px;
                margin-bottom: 32px;
                font-weight: 600;
                color: $mainColor;
            }
            .benfits-list{
                max-width: 250px;
                margin: 0;
                padding: 0;
                list-style: none;
                li{
                    position: relative;
                    margin-bottom: 16px;
                    padding-right: 22px;
                    font-size: 18px;
                    font-weight: 400;
                    &:before{
                        content: "";
                        display: block;
                        border-radius: 50px;
                        width: 10px;
                        height: 10px;
                        background-color: #F79826;

                        position: absolute;
                        right: 0;
                        top: 15px;
                        transform: translateY(-50%);
                    }
                }
            }
        }
        &.carousel-wrapper{
            display: block;
            padding: 0;
            width: calc(100% + 32px);
            margin-right: -16px;
            .owl-carousel{
                margin: auto;
                .benifit-wrapper{
                    width: 100%;
                    padding: 4px!important;
                }
            }
        }
    }
}