.p-icon {
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    color: white;
}

.red-bg {
    background-color: #FA2D2D;
}

.green-bg {
    background-color: #4BAE4F;
}

.bundles {
    .accordion-button {
        background: transparent;
        box-shadow: none;
        padding: 0.3rem 1.25rem;
        cursor: pointer;
        &:before {
            content: "\61";
            transition: transform .2s ease-in-out;
            font-family: "face-mess" !important;
            color: white;
            background: $secondColor;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            font-size: 14px;
            font-weight: 600;
            text-shadow: 0 1px 0 #fff;
            margin-left: 12px;
            margin-right: -10px;
        }
        &:after {
            background-image: none !important;
            width: auto;
            height: auto;
            margin-right: unset;
        }
    }
    .accordion-button:not(.collapsed) {
        background: transparent;
        box-shadow: none;
        &:before {
            content: "\62";
            transition: transform .2s ease-in-out;
            font-family: "face-mess" !important;
            color: $secondColor;
            background: white;
            border-radius: 50%;
            width: 26px;
            height: 26px;
            text-align: center;
            line-height: 26px;
            font-size: 13px;
            margin-left: 12px;
            margin-right: -10px;
            box-shadow: 0 1px 4px rgba(0,0,0, 0.16);
        }
    }

    .header-title{
        font-size: 48px;
        line-height: 84px;
        margin-bottom: 64px;
    }
    .table{
        thead{
            th.main-bg{
                font-size: 30px;
                font-weight: 600;
                text-align: center;
                padding-bottom: 12px;
            }
            .gray-bg.main-color{
                th{
                    font-size: 22px;
                    text-align: center;
                    padding: 16px 8px;
                    &:not(:last-child){
                        border-left: 1px solid #fff;
                    }
                }
            }
            .lightGray-bg{
                th{
                    font-size: 24px;
                    text-align: center;
                    &:not(:last-child){
                        border-left: 1px solid #fff;
                    }
                }
            }
            tr, th{
                border: none;
            }
        }
        tbody{
            border: none;
            border-bottom: 1px solid #f2f2f2;
            tr{
                border: none;
                td{
                    border: none;
                    padding: 16px;
                    text-align: center;
                    &:not(:last-child){
                        border-left: 1px solid #fff;
                    }
                    &:first-child{
                        width: 350px;
                        .accordion-button{
                            font-size: 22px;
                            font-weight: 600;
                            color: $mainColor;
                        }
                    }
                    .p-icon{
                        position: relative;
                        i{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 26px;
                            font-weight: 600!important;
                            text-shadow: 0 1px 0 #fff, 0 1px 0 #fff;
                            margin-top: -2px;
                        }
                    }
                }
                &.expanded{
                    background-color: $mainColor!important;
                    td{
                        color: #fff;
                        &:first-child{
                            .accordion-button{
                                color: #fff;
                            }
                        }                        
                    }
                }
            }
        }
    }
    .carousel-wrapper{
        margin-left: -12px;
        margin-right: -12px;
        .owl-item{
            padding: 0 8px;
        }
        .item{
            background-color: #F3F3F3;
            .header{
                padding: 0;
                .title{
                    margin: 0;
                    display: block;
                    line-height: 37px;
                    font-size: 18px;
                    font-weight: 600;
                    text-align: center;
                    background-color: $mainColor;
                    color: #fff;
                    padding-bottom: 4px;
                }
            }
            .cost{
                margin: 0;
                display: block;
                line-height: 37px;
                font-size: 18px;
                font-weight: 600;
                text-align: center;
                padding-bottom: 4px;
                border-bottom: 1px solid #ddd;
            }
            .accordion{
                padding: 16px 0;
                .accordion-item{
                    background-color: transparent;
                    border: none;
                    margin-bottom: 0;
                    .accordion-button{
                        padding: 10px 16px;
                        padding-left: 40px;
                        position: relative;
                        .p-icon{
                            position: absolute;
                            left: 16px;
                            top: calc(50% + 4px);
                            transform: translateY(-50%);
                            width: 24px;
                            height: 24px;
                            i{
                                display: block;
                                line-height: 26px;
                            }
                        }
                        .btn-text{
                            font-size: 16px;
                            font-weight: 600;
                            color: $mainColor;
                        }
                        &:before{
                            width: 18px;
                            height: 18px;
                            font-size: 9px;
                            line-height: 20px;
                            text-shadow: none;
                            transform: translateY(2px);
                            margin-left: 8px;
                            margin-right: 0;
                        }
                        &:not(.collapsed):before{
                            background-color: $mainColor;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}