.form-container {
    margin: 50px 0;
    background: #F3F3F3;
    border: 1px solid #e2e2e2;
    form{
        max-width: 700px;
        margin: auto;
        padding: 16px;
        input,
        textarea {
            border: 1px solid #ddd;
            line-height: 42px;
        }
        .input-icon {
            position: relative;
            i {
                position: absolute;
                top: 28px;
                font-size: 22px;
                transform: translate(-50%, -50%);
                color: $gray;
            }
        }
        .form-control {
            padding: 0.375rem 2.25rem;
            padding-left: 8px;
        }
        label{
            color: $mainColor;
            font-weight: 600;
            font-size: 18px;
            white-space: nowrap;
        }
        textarea.form-control{
            min-height: 250px;
        }  
        .form-group{
            display: flex;
            &:not(:last-of-type){
                margin-bottom: 32px;
            }
            label{
                margin-left: 16px;
                padding: 0;
                width: 120px;
            }
            .input-icon{
                width: calc(100% - 136px);
            }
            .btn{
                display: block;
                margin: 32px auto 0 ;  
                min-width: 180px;
            } 
        }
        .action-links{
            display: flex;
            justify-content: center;
            a{
                text-decoration: none;
                margin: 0;
                font-size: 20px;
                padding: 8px;
                &:hover{
                    opacity: 0.8;
                }
            }
        } 
        .form-text{
            color: $mainColor;
            font-weight: 400;
        }
    }
}