.sell-points {
    padding: 64px 0;
    .header-title{
        font-size: 48px;
        margin-bottom: 84px;
    }
    .content-wrapper{
        padding: 0 16px;
        display: flex;
        align-items: center;
        justify-content: center;

        max-width: 1300px;
        margin: auto;
        .description{
            width: 100%;
            font-size: 20px;
            line-height: 44px;
            font-weight: 400;
            max-width: 450px;
        }
        .pc-img{
            width: calc(100% - 450px);
            max-width: 600px;
        }
    }
}