<section class="about main-bg">
    <div class="container-fluid">
        <div class="header-title col-md-12 text-center">
            <h4 class="subtitle">منصة تاجر مقدم خدمة لمشروع </h4>
            <h2 class="title second-color">الفاتورة الالكترونية</h2>
            <h4 class="subtitle">مهما كان نشاطك</h4>
        </div>
        <div class="content-wrapper">
            <ul class="list-activities">
                <li class="activity-item">
                    <img src="images/about-1.svg">
                    <h5 class="title">شركات</h5>
                </li>
                <li class="activity-item">
                    <img src="images/about-2.svg">
                    <h5 class="title">تجار التجزئة</h5>
                </li>
                <li class="activity-item">
                    <img src="images/about-3.svg">
                    <h5 class="title">تجار متعدد المخازن</h5>
    
                </li>
            </ul>
            <div class="row d-flex justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <p class="description">
                        لست مضطرًا إلى ترك نظامك القديم حيث يمكنك ربط نظامك بمنصة تاجر أو يمكنك استخدام تاجر للفاتورة الإلكترونية بالتوازي مع نظامك بسعر منخفض
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>