<% 
var benefits = [
    {
        img:'images/benefits/b1.svg',
        title:'المبيعات',
        list:[
        'فواتير المبيعات',
        'مرتجع المبيعات',
       ' العروض والخصومات',
        'طباعة الفواتير',
        'البيع بالآجل',
            
        ]
    },
    {
        img:'images/benefits/b2.svg',
        title:'المنتجات',
        list:[
        'تصنيفات المنتجات',
        'صور المنتجات',
        'طباعة الباركود',
        'وحدات القياس',
       ' حد الطلب وحد التنبيه ',
       ' الأرصدة الافتتاحية'
            
        ]
    },
    {
        img:'images/benefits/b3.svg',
        title:'المخازن',
        list:[
        'نقل المنتجات بين المخازن ونقاط البيع',
       ' تسجيل جميع الحركات من والى المخزن',
        'ارصدة المخازن',
        'امين المخزن'
        ]
    },
    {
        img:'images/benefits/b4.svg',
        title:'المشتريات',
        list:[
        'فواتير المشتريات',
        'مرتجعات المشتريات',
        'توزيع المنتجات على المخازن',
        'الشراء بالآجل'
        ]
    },
    {
        img:'images/benefits/b5.svg',
        title:'مراقبه عمليات النظام',
        list:[
            'تسجيل وقت ونوع جميع العمليات جميع العمليات التي يتم اجرائها بواسطة أي مستخدم'
            
        ]
    },
    {
        img:'images/benefits/b6.svg',
        title:'المستخدمين',
        list:[
            'التحكم في صلاحيات المستخدمين على حده بما يناسب طبيعة عمل كل مستخدم',
            
        ]
    },
    {
        img:'images/benefits/b7.svg',
        title:'العملاء والموردين',
        list:[
            'تسجيل ومتابعة عمليات العملاء والموردين',
            
        ]
    },
    {
        img:'images/benefits/b8.svg',
        title:'نقاط البيع',
        list:[
     'البيع وطباعة الفواتير من خلال موبايل ابلكيشن او من أي جهاز ',
        'البيع دون الحاجة للاتصال بالانترنت ',
        'صلاحيات التحكم في السعر',
        'صلاحيات الخصومات'
        ]
    },
    
]
%>
    <section class="benefits">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="header-title">المميزات</h2>
                </div>
            </div>

            <div class="row d-md-flex d-none">
                <div class="benifits-wrapper">
                    <% benefits.forEach(function(item){ %>
                        <div class="benifit-wrapper">
                            <div class="image-panel">
                                <img src="<%= item.img %> " alt="">
                            </div>
                            <h5 class="title">
                                <%= item.title  %>
                            </h5>
                            <ul class="benfits-list">
                                <% item.list.forEach(function(itemList){ %>
                                    <li>
                                        <%= itemList  %>
                                    </li>
                                <% }) %>
                                </ul>
                        </div>
                    <% }) %>
                </div>
            </div>
            
            <div class="d-block d-md-none">
                <div class="benifits-wrapper carousel-wrapper">
                    <div class="__js_benefits_carousel owl-carousel owl-theme">
                        <% benefits.forEach(function(item){ %>
                            <div class="item benifit-wrapper">
                                <div class="image-panel">
                                    <img src="<%= item.img %> " alt="">
                                </div>
                                <h5 class="title">
                                    <%= item.title  %>
                                </h5>
                                <ul class="benfits-list">
                                    <% item.list.forEach(function(itemList){ %>
                                        <li>
                                            <%= itemList  %>
                                        </li>
                                    <% }) %>
                                </ul>
                            </div>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </section>