<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
        <section class="contact-form form-container">
            <form class="">
                <div class="form-group">
                    <label for="fullName">الاسم بالكامل</label>
                    <div class="input-icon">
                        <i class="tagr-user"></i>
                        <input type="text" class=" form-control" id="fullName" placeholder=" ">
        
                    </div>
                </div>
                <div class="form-group">
                    <label for="mobilephone">رقم الموبايل</label>
                    <div class="input-icon">
                        <i class="tagr-mobile"></i>
                        <input type="phone" class="form-control" id="mobilephone" placeholder=" ">
        
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">البريد الالكتروني</label>
                    <div class="input-icon">
                        <i class="tagr-envelope"></i>
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=" ">
        
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">الرسالة</label>
                    <div class="input-icon">
                        <i class="tagr-edit"></i>
                        <textarea class="form-control" id="exampleFormControlTextarea1" row mb-3s="3"></textarea>

                        <button class="btn btn-lg px-5 pb-3 main-bg">
                            ارسال
                        </button>            
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>