<section class="slider site-header">
    <div class="container-fluid">
        <div class="h-wrapper">
            <div class="intro-text">
                <h1 class="title1 second-color">منصة تاجر</h1>
                <h4 class="title2"> لإدارة الاعمال والأنشطة التجارية</h4>
                <h4 class="title3 second-color mb-4">في أي وقت ومن أي مكان</h4>
                    <a href="register.html" class="cto main-bg p-3 me-2 btn">سجل مجانا</a>
                    <a href="login.html" class="cto second-bg p-3 btn">الدخول الى النظام</a>
            </div>
            <ul class="circle-list">
                <div class="circle"></div>
                <img class="circle-logo" src="images/colored-logo.svg" alt="">
                <!-- <li style="--i:0 " class="main-bg">المنتجات</li>
                <li style="--i:1 " class="second-bg">المبيعات</li>
                <li style="--i:2 " class="main-bg">المشتريات</li>
                <li style="--i:3 " class="second-bg">نقاط البيع</li>
                <li style="--i:4 " class="main-bg">الموردين</li>
                <li style="--i:5 " class="second-bg elec-invoice">الفاتورة الالكترونية</li>
                <li style="--i:6 " class="main-bg">المصروفات</li>
                <li style="--i:7 " class="second-bg">العملاء</li>
                <li style="--i:8 " class="main-bg">المخازن</li> -->
            </ul>
        </div>
    </div>
</section>