<% 
var menu = [
    {
        title:'الرئيسية',
        url:'index.html'
    },
    {
        title:'الفاتورة الالكترونية',
        url:'#!'
    },
    {
        title:'المميزات',
        url:'#!'
    },
    {
        title:'نقاط البيع',
        url:'#!'
    },
    {
        title:'الاسعار',
        url:'#!'
    },
    {
        title:'الاسئلة الشائعة',
        url:'faq.html'
    },
    {
        title:'أتصل بنا',
        url:'contact.html'
    },
]
%>

    <nav class="navbar navbar-expand-lg navbar-dark main-bg p-0">
        <div class="container-fluid">
            <a class="navbar-brand p-0" href="index.html"><img src="images/white-logo.svg" width="130" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <% menu.forEach(function(item,index){ %>
                        <li class="nav-item">
                            <a class="nav-link <%= index == 0 ? 'active':'' %> " aria-current="page" href="<%= item.url %>">
                                <%= item.title %>
                            </a>
                        </li>
                        <% }) %>


                </ul>

            </div>
        </div>
    </nav>