<div class="row justify-content-center">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-8">
        <section class="contact-form form-container">
            <form class=" ">
                <div class="form-group ">
                    <label for="fullName">نوع النشاط</label>
                    <div class="input-icon">
                        <select class="form-select">
                            <option value="0">اختر نوع النشاط...</option>
                            <option value="1">تاجر تجزية</option>
                        </select>
                        <div class="form-text">
                            منصة تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود) لا يحتاج الى تحميل او تنصيب او أي تجهيزات, فقط يحتاج الاتصال بالإنترنت.
                        </div>                        
                    </div>
                </div>
                <div class="form-group ">
                    <label for="fullName">الاسم </label>
                    <div class="input-icon">
                        <input type="text" class=" form-control" id="fullName" placeholder=" ">
                    </div>
                </div>
                <div class="form-group ">
                    <label for="username">اسم المستخدم</label>
                    <div class="input-icon">
                        <input type="text" class=" form-control" id="username" placeholder=" ">
                    </div>
                </div>
                <div class=" form-group">
                    <label for="mobilephone">رقم الموبايل</label>
                    <div class="input-icon">
                        <input type="phone" class="form-control" id="mobilephone" placeholder=" ">
                    </div>
                </div>
                <div class=" form-group">
                    <label for="exampleFormControlInput1">البريد الالكتروني</label>
                    <div class="input-icon">
                        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder=" ">
                    </div>
                </div>
                <div class=" form-group">
                    <label for="mobilephone"> كلمة المرور</label>
                    <div class="input-icon">
                        <input type="password" class="form-control" id="mobilephone" placeholder=" ">
                    </div>
                </div>
                <div class=" form-group">
                    <label for="mobilephone"> تاكيد كلمة المرور</label>
                    <div class="input-icon">
                        <input type="password" class="form-control" id="mobilephone" placeholder=" ">
                        <button class="btn btn-lg px-5 pb-3 main-bg">
                            تسجيل
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>
