$fontPath: "../fonts";
@font-face {
    font-family: "DIN";
    src: url($fontPath+"/din/DINNextLTArabic-Regular.ttf") format("truetype");
    font-weight: 400;
    font-display: fallback;
    // font-style: normal;
}

@font-face {
    font-family: "DIN";
    src: url($fontPath+"/din/DINNextLTArabic-Medium.ttf") format("truetype");
    font-weight: 600;
    font-display: fallback;
    // font-style: normal;
}
  
body,
h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a,
button,
li {
    font-family: 'DIN', sans-serif;
}
