$mainColor:#2A459E;
$secondColor:#F79826;
$lightGray:#F2F2F2;
$gray: #E2E2E2;
.main-color {
    color: $mainColor;
}

.main-bg {
    background: $mainColor !important;
    color: white;
    &:hover {
        color: white;
    }
}

.second-color {
    color: $secondColor !important;
}

.gray-bg {
    background: $gray !important;
}

.lightGray-bg {
    background: $lightGray !important;
}

.second-bg {
    background: $secondColor;
    color: white;
    &:hover {
        color: white;
    }
}

.white-color {
    color: white !important;
}

h2 {
    font-size: 3em;
    font-weight: bold;
    @media screen and (max-width: 768px) {
        font-size: 2em;
    }
}

h3 {
    font-size: 2.5em;
    @media screen and (max-width: 768px) {
        font-size: 1.5em;
    }
}

h4 {
    font-size: 1.5em;
    @media screen and (max-width: 768px) {
        font-size: 1em;
    }
}

.bold {
    font-weight: bold;
}

section {
    padding: 50px;
    @media screen and (max-width: 768px) {
        padding: 10px;
    }
}

.social-ico {
    color: white;
    text-decoration: none;
    border: 1px solid;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 34px;
}

.accordion-button {
    background: $mainColor;
    &:before {
        content: "\61";
        transition: transform .2s ease-in-out;
        font-family: "face-mess" !important;
        color: white;
        background: $secondColor;
        border-radius: 50%;
        width: 26px;
        height: 26px;
        align-self: center;
        text-align: center;
        line-height: 26px;
        font-size: 13px;
        margin-left: 12px;
        margin-right: -10px;
    }
    &:after {
        background-image: none !important;
        width: auto;
        height: auto;
        margin-right: unset;
    }
}

.accordion-button:not(.collapsed) {
    background: $secondColor;
    &:before {
        content: "\62";
        transition: transform .2s ease-in-out;
        font-family: "face-mess" !important;
        color: $secondColor;
        background: white;
        border-radius: 50%;
        align-self: center;
        width: 26px;
        height: 26px;
        text-align: center;
        line-height: 26px;
        font-size: 13px;
        margin-left: 12px;
        margin-right: -10px;
    }
}
.accordion{
    .accordion-button{
        outline: none;
        box-shadow: none;
        .white-color {
            width: calc(100% - 38px);
        }
    }
}
