.top-footer{
    padding: 48px 0!important;
    &>.container-fluid{
        max-width: 1300px;
        margin: auto;
    }
    .footer-logo{
        height: 100px;
    }
    h5{
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 16px;
    }
    .links-list{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            // padding: 6px 0;
            .link-item{
                color: #fff;
                text-decoration: none;
                padding: 8px 0;
                display: flex;
                .icon{
                    margin-left: 6px;
                    transition: all 300ms ease-in;
                }
                &:hover, &:active{
                    opacity: 0.8;
                    .icon{
                        transform: translateX(-2px);
                    }
                }
            }

        }
    }
    .social-ico{
        position: relative;
        &:hover{
            color: #fff;
            opacity: 0.6;
        }
        i{
            display: block;
            height: 30px;
            &:before{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}