$d: 2em;
.site-header {
    background-image: url(../../src/images/slider-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    .h-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1300px;
        margin: auto;

        height: calc(100vh - 76px);
        @media screen and (max-width: 991px) {
            height: auto
        }
        .intro-text{
            text-align: center;
        }
        ul {
            // position: relative;
            // width: 100%;
            // height: 80vh;
            // list-style: none;
            // margin: -46px 3em 0px 1px;
            // padding: 0;
            // @media screen and (max-width: 991px) {
            //     margin: -64px 1em 0px 1px;
            // }
            position: relative;
            background-image: url(../images/header-circle.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            padding: 0!important;
            margin: 0!important;
            width: 580px;
            height: 580px;
    
            .circle-logo{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 250px;
            }
            // img {
            //     // position: absolute;
            //     // top: 50%;
            //     // left: 50%;
            //     // transform: translate(-27%, -21%);
            //     // @media screen and (max-width: 991px) {
            //     //     top: 52%;
            //     //     left: 46%;
            //     //     width: 14em;
            //     // }
            // }
            li {
                position: absolute;
                top: 50%;
                left: 50%;
                margin: -1em;
                width: 8em;
                height: 8em;
                border-radius: 50%;
                --az: calc(var(--i)*1turn/var(--n));
                transform: rotate(var(--az)) translate(15em) rotate(calc(-1 * var(--az)));
                font: 1em/2 cairo, sans-serif;
                text-align: center;
                counter-reset: a var(--i);
                line-height: 127px;
                @media screen and (max-width: 991px) {
                    position: absolute;
                    top: 50%;
                    left: 43%;
                    margin: 0em;
                    width: 5em;
                    height: 5em;
                    border-radius: 50%;
                    --az: calc(var(--i)*1turn/var(--n));
                    transform: rotate(var(--az)) translate(10em) rotate(calc(-1 * var(--az)));
                    font: 0.9em/2 cairo, sans-serif;
                    text-align: center;
                    counter-reset: a var(--i);
                    line-height: 71px;
                }
            }
        }
        .title1{
            font-size: 66px;
            font-weight: 600;
            margin-bottom: 18px;
        }
        .title2{
            font-size: 44px;
            font-weight: 600;
            margin-bottom: 18px;
        }
        .title3{
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 16px;
        }
        .cto{
            line-height: 72px;
            padding: 0 32px!important;
            min-width: 40%;
            font-size: 24px!important;
            font-weight: 600;
            margin-top: 58px;
        }
    }
}

.elec-invoice {
    @media screen and (max-width: 991px) {
        line-height: 1 !important;
        padding-top: 19px;
    }
}