.navbar-dark {
    &>.container-fluid{
        max-width: 1300px;
    }
    .navbar-nav {
        .nav-item {
            height: 76px;
            margin: 0 8px;
            @media only screen and (max-width: 768px) {
                height: inherit;
            }
            .nav-link {
                color: rgb(255 255 255);
                border-bottom: 4px solid transparent;
                height: 100%;
                padding-top: 25px;
                font-size: 18px;
                @media only screen and (max-width: 768px) {
                    padding-top: 0px;
                    border-bottom: 2px solid transparent;
                }
                &:hover {
                    border-bottom: 7px solid $secondColor;
                }
            }
            .nav-link.active {
                border-bottom: 7px solid $secondColor;
                @media only screen and (max-width: 768px) {
                    border-bottom: 2px solid transparent;
                }
            }
        }
    }
    .navbar-toggler{
        border: none;
        color: rgba(255, 255, 255, 0.55);
        outline: none;
        box-shadow: none;
        .navbar-toggler-icon{
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }

}