@media (max-width: 1200px) {
}
@media (max-width: 992px) {
    .site-header {
        .h-wrapper {
            padding: 16px;
            .title1 {
                font-size: 48px;
                margin-bottom: 18px;
            }    
            .title2 {
                font-size: 34px;
                margin-bottom: 18px;
            }    
            .title3 {
                font-size: 30px;
                margin-bottom: 18px;
            }    
            ul{
                width: 420px;
                height: 420px;
                .circle-logo{
                    width: 180px;
                }
            }
            .cto {
                line-height: 52px;
                padding: 0 16px!important;
                font-size: 18px!important;
                margin-top: 32px;
            }            
        }
    }
    section.about {
        padding: 32px 0;
        .header-title {
            .title{
                font-size: 36px;
                margin: 16px 0;
            }
            .subtitle{
                font-size: 28px;
                margin: 0;
            }
        }
        .list-activities .activity-item {
            .title{
                font-size: 24px;
                margin-top: 16px;
                margin-bottom: 16px;
            }
        }
        .description{
            margin-top: 32px;
            font-size: 16px;
        }
    }
    section.benefits {
        padding: 8px 16px;
        .benifits-wrapper {
            padding: 0 16px;
            .benifit-wrapper{
                padding: 0 0 32px;
                .image-panel{
                    width: 80px;
                    height: 80px;
                    img{
                        width: 50px;
                        height: 50px;
                        object-fit: contain;
                    }
                }
                .title{
                    font-size: 20px;
                    margin-bottom: 22px;
                }
                .benfits-list li{
                    font-size: 16px;
                    padding-right: 16px;
                    margin-bottom: 12px;
                    &:before{
                        width: 7px;
                        height: 7px;
                    }
                }
            }
        }
    }
    .sell-points {
        padding: 32px 16px;
        .header-title{
            font-size: 36px;
            margin-bottom: 64px;
        }
        .content-wrapper {
            .description{
                font-size: 16px;
                max-width: 40%;
            }
            .pc-img{
                width: 100%;
                max-width: 60%;
            }
        }
    }
    .bundles{
        padding: 16px 16px;
        .header-title{
            font-size: 30px;
            margin-bottom: 64px;
            line-height: 48px;
            font-weight: 600;
        }
        .header-title{
            font-size: 48px;
            line-height: 84px;
            margin-bottom: 64px;
        }
        .table{
            thead{
                th.main-bg{
                    font-size: 22px;
                    padding-bottom: 8px;
                }
                .gray-bg.main-color{
                    th{
                        font-size: 16px;
                        padding: 8px 4px;
                    }
                }
                .lightGray-bg{
                    th{
                        font-size: 19px;
                    }
                }
                tr, th{
                    border: none;
                }
            }
            tbody{
                border: none;
                border-bottom: 1px solid #f2f2f2;
                tr{
                    border: none;
                    td{
                        padding: 8px 10px;
                        &:first-child{
                            width: 280px;
                            .accordion-button {
                                padding: 0;
                                padding-bottom: 4px;
                                transform: translateY(2px);
                                font-size: 16px;
                                &:before {
                                    width: 18px;
                                    height: 18px;
                                    line-height: 20px;
                                    font-size: 9px;
                                    text-shadow: none;
                                    margin-right: 0;
                                }
                                &:after {
                                    background-image: none !important;
                                    width: auto;
                                    height: auto;
                                    margin-right: unset;
                                }
                            }                           
                        }
                        .p-icon{
                            width: 28px;
                            height: 28px;
                            transform: translateY(5px);
                            i{
                                font-size: 18px;
                                margin-top: 0;
                                &:before{
                                    display: block;
                                    line-height: 28px;
                                }
                            }
                        }
                    }
                }
                .accordion-collapse{
                    text-align: right;
                    p{
                        text-align: right;
                    }
                }
            }
        }        
    }
    .section-footer{
        .top-footer{
            padding: 48px 16px 0!important;
            .footer-logo{
                display: table;
                margin: 0 auto 16px;
            }
            .description{
                text-align: center;
            }
            .container-fluid{
                .row{
                    .col-12{
                        margin-bottom: 32px;
                    }
                }
            }
        }
    }

    .navbar-brand{
        padding: 4px 0!important;
        img{
            width: 92px;
            height: 48px;
            object-fit: contain;
            object-position: right center;
        }
    }
    .navbar-collapse{
        border-top: 1px solid #1f3476;
        background-color:  #233a88;
        // width: calc(100% + 22px);
        margin-right: -11px;
        margin-left: -11px;
        .nav-item {
            height: auto!important;
            margin: 0!important;
            .nav-link{
                padding: 12px 16px!important;
                border: none!important;
                &:hover, &.active{
                    border: none!important;
                    background-color: #1f3476;
                }            
            }
        }
        // &.show{
        // }
    }    

}
@media (max-width: 768px) {
    .site-header {
        .h-wrapper {
            flex-direction: column;
            .intro-text{
                width: 100%;
                max-width: 450px;
                .title1 {
                    font-size: 30px;
                    margin-bottom: 8px;
                }    
                .title2 {
                    font-size: 22px;
                    margin-bottom: 8px;
                }    
                .title3 {
                    font-size: 18px;
                    margin-bottom: 8px;
                }    
                .cto {
                    line-height: 42px;
                    padding: 0 16px!important;
                    font-size: 14px!important;
                    margin-top: 16px;
                    margin-bottom: 32px;
                    white-space: nowrap;
                }
            }
            ul{
                width: 420px;
                height: 420px;
                .circle-logo{
                    width: 180px;
                }
            }
        }
    }  
    section.about {
        padding: 32px 0;
        .content-wrapper{
            display: flex;
            flex-direction: column-reverse;
        }
        .header-title {
            margin-bottom: 48px;
            .title{
                font-size: 28px;
                margin: 8px 0;
            }
            .subtitle{
                font-size: 20px;
                margin: 0;
            }
        }
        .list-activities {
            flex-direction: column;
            align-items: center;
            .activity-item {
                width: 100%;
                max-width: 320px;
                margin-bottom: 32px;
                .title{
                    font-size: 20px;
                }
            }
        }
        .description{
            margin: 0 auto 64px;
            font-size: 16px;
            width: 100%;
            max-width: 420px;
        }
    }  
    section.benefits {
        .header-title{
            font-size: 28px;
            margin-bottom: 32px;
            line-height: 48px;
        }
        .benifits-wrapper {
            .benifit-wrapper{
                .title{
                    font-size: 20px;
                    margin-bottom: 22px;
                }
                .benfits-list li{
                    font-size: 16px;
                    padding-right: 16px;
                    margin-bottom: 12px;
                    &:before{
                        width: 7px;
                        height: 7px;
                    }
                }
            }
        }
        .owl-dots {
            margin-top: 0!important;
            .owl-dot span{
                background: $mainColor;
                width: 12px;
                height: 12px;
            }
        }
        .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
            background: $secondColor;
        }  
        .benifits-wrapper.carousel-wrapper{
            max-width: 450px;
            margin: auto;
        }
    }        
    .sell-points {
        .header-title{
            font-size: 28px;
            margin-bottom: 32px;
        }
        .content-wrapper {
            flex-direction: column;
            .description{
                font-size: 16px;
                width: 100%;
                max-width: 420px;
                line-height: 32px;
                margin-bottom: 32px;
            }
            .pc-img{
                width: 100%;
                max-width: 60%;
            }
        }
    } 
    .bundles {
        padding: 32px 0;
        .header-title{
            margin-bottom: 32px;
        }   
    }

    .form-container {
        form{
            .form-group{
                flex-direction: column;
                label{
                    display: block;
                    margin: 0 0 16px;
                    width: 100%;
                    font-size: 15px;
                }
                .input-icon{
                    width: 100%;
                }
                .btn{
                    padding: 4px 16px 8px!important;
                    font-size: 16px;
                    min-width: 120px;
                }
            }
            .action-links a{
                font-size: 16px;
            }
        }
    }
}
@media (max-width: 576px) {   
    .site-header .h-wrapper ul {
        width: 320px;
        height: 320px;
    }  
    .carousel-wrapper{
        .owl-carousel{
            .owl-dots {
                margin-top: 10px!important;
                .owl-dot span{
                    background: $mainColor;
                    width: 12px;
                    height: 12px;
                }
            }
            .owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
                background: $secondColor;
            }  
        }  
    }
}