<% var faq = [
    {
        id:1,
        title:`تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود`,
        content:``
    },
    {
        id:2,
        title:`تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود`,
        content:``
    },
    {
        id:3,
        title:`تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود`,
        content:`منصة تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود) لا يحتاج الى تحميل او تنصيب او أي تجهيزات, فقط يحتاج الاتصال بالإنترنت منصة تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود) لا يحتاج الى تحميل او تنصيب او أي تجهيزات, فقط يحتاج الاتصال بالإنترنت منصة تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود) لا يحتاج الى تحميل او تنصيب او أي تجهيزات, فقط يحتاج الاتصال بالإنترنت`
    },
    {
        id:4,
        title:`تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود`,
        content:``
    },
] %>
    <%-include('./ejs/layout/head') %>
        <%-include('./ejs/components/navbar') %>
            <div class="second-bg">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-md-12 col-lg-10 col-xl-9 page-title py-3">
                            <h3>الاسئلة الشائعة </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid px-3 pb-5">
                <div class="row justify-content-center">
                    <div class="col-md-12 col-lg-10 col-xl-9 pt-5 pb-5 main-color">
                        منصة تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود) لا يحتاج الى تحميل او تنصيب او أي تجهيزات, فقط يحتاج الاتصال بالإنترنت منصة تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة
                        السحابية (الكلاود) لا يحتاج الى تحميل او تنصيب او أي تجهيزات, فقط يحتاج الاتصال بالإنترنت منصة تاجر نظام متكامل لإدارة الأعمال والمشروعات والأنشطة التجارية يعمل على البيئة السحابية (الكلاود) لا يحتاج الى تحميل او تنصيب او أي تجهيزات,
                        فقط يحتاج الاتصال بالإنترنت
                    </div>
                    <div class="col-md-12 col-lg-10 col-xl-9 mb-5">
                        <div class="accordion" id="accordionExample">
                            <% faq.forEach(function(item){ %>
                                <div class="accordion-item mb-2">
                                    <h2 class="accordion-header " id="heading<%=item.id%>">
                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse<%=item.id%>" aria-expanded="false" aria-controls="collapse<%=item.id%>">
                                        <span class="white-color"><%=item.title%></span>
                            </button>
                                    </h2>
                                    <div id="collapse<%=item.id%>" class="accordion-collapse collapse" aria-labelledby="heading<%=item.id%>" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <%=item.content%>
                                        </div>
                                    </div>
                                </div>
                                <%})%>
                        </div>
                    </div>
                </div>
            </div>





            <%- include('./ejs/layout/footer') %>